#aboutus
  .container
    .section_header
      %h3 VATEUD PTD Trainings
    .row
      .span12.intro   
        #pilots-listing
          %table.pilots
            %tr
              %th.date Date
              %th Rating
              %th.subject Instructor
              %th Origin
              %th Destination
              %th.pilots Pilots
            - @trainings.each do |training|
              %tr
                %td= training.date
                %td= training.rating.name if training.rating
                %td= training.instructor.name
                %td= training.departure_airport
                %td= training.destination_airport
                %td= training.list_pilot_names
        
        = will_paginate @trainings
 