#aboutus
  .container
    .section_header
      .span4.lastspan
        %h3 Managers & Admins
      .span4.lastspan
        %h3 PTD Examiners
      .span4.last.lastspan
        %h3 PTD Instructors

    .row
      .span4.intro   
        #staff-listing
          %table.staff
            %tr
              %th Name
              %th Email
            - @users.each do |user|
              %tr
                %td= user.name
                %td= mail_to user.email, user.email, :encode => "javascript"
      
      .span4.intro   
        #staff-listing
          %table.staff
            %tr
              %th Name
              %th Vatsim ID
            - @examiners.each do |examiner|
              %tr
                %td= mail_to examiner.email, examiner.name, :encode => "javascript"
                %td= examiner.vatsimid
                
      .span4.intro   
        #staff-listing
          %table.staff
            %tr
              %th Name
              %th Vatsim ID
            - @instructors.each do |instructor|
              %tr
                %td= mail_to instructor.email, instructor.name, :encode => "javascript"
                %td= instructor.vatsimid
                
        

 