= simple_form_for @pilot, :html => { :class => 'form-horizontal stylish' } do |f|
  = f.error_notification
  
  .inputs

  = f.input :name, :label => 'Name', :input_html => { :class => 'span3' }
  = f.association :rating, :label => 'Desired Rating', :include_blank => "Please select...", :input_html => { :class => 'span3' }
  = f.input :vatsimid, :label => 'VATSIM ID', :input_html => { :class => 'span3' }
  = f.input :email, :label => 'E-mail', :input_html => { :class => 'span3' }
  = f.association :division, :label => 'Division', :include_blank => "Please select...", :input_html => { :class => 'span3' }
  = f.input :vacc, :label => 'VACC', :input_html => { :class => 'span3' }
  = f.association :atc_rating, :label => 'ATC rating', :include_blank => "Please select...", :input_html => { :class => 'span3' }
  %label.select.required.control-label Spam protection:
  .captcha.center.clearfix
    %p= recaptcha_tags(:error => 'Verify captcha!', :display => {:theme => 'clean'})


  .actions.center
    = f.button :submit, "Enroll!", :class => 'btn btn-success btn-large'
    