= simple_form_for @pilot, :html => { :class => 'form-horizontal stylish' } do |f|
  = f.error_notification
  
  .inputs

  = f.association :rating, :label => 'Desired Rating', :include_blank => "Please select...", :input_html => { :class => 'span3' }
  = f.input :vatsimid, :label => 'VATSIM ID', :input_html => { :class => 'span3' }
  <div style="position: absolute; left: -2000px;"><input type="text" name="website" value="" /></div>
  

  .actions.center
    = f.button :submit, "Enroll!", :class => 'btn btn-success btn-large'
    