<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><em>This is an automated email message, please do not reply!</em></p>
    
    <h1>Dear VATEUD PTD admin,</h1>
    <p>
      A practical examination has been scheduled by the VATEUD PTD.<br/><br/>
      
      Examination details:<br/><br/>

      Date and Time: <%= @examination.date %><br/>
      Rating: <%= @examination.rating.name %><br/>
      Examiner: <%= @examination.examiner.name %><br/>
      Departure Airport: <%= @examination.departure_airport %><br/>
      Arrival Airport:  <%= @examination.destination_airport %><br/>
      Participating pilots: <%= @pilot_names.join(", ") unless @pilot_names.blank? %><br/>
      
    </p>    
    <p>Have a great day!</p>
    <p><em><strong>VATEUD Pilot Training Department Team</strong></em></p>
  </body>
</html>