<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><em>This is an automated email message, please do not reply!</em></p>
    
    <h1>Dear <%= @pilot.name %>,</h1>
    <p>
      You have succesfully joined the following scheduled VATEUD PTD training:<br/><br/>
      
      Training details:<br/><br/>

      Date and Time: <%= @training.date %><br/>
      Instructor: <%= @training.instructor.name %><br/>
      Rating: <%= @training.rating.name %><br/>
      Departure Airport: <%= @training.departure_airport %><br/>
      Arrival Airport:  <%= @training.destination_airport %><br/>
            
    </p>
    
    <p>Good luck and have a great day!</p>
    <p><em><strong>VATEUD Pilot Training Department Team</strong></em></p>
  </body>
</html>