<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><em>This is an automated email message, please do not reply!</em></p>
    
    <h1>Dear <%= @training.instructor.name %>,</h1>
    <p>
      A new pilot has joined the following VATEUD PTD training session scheduled by you:<br/><br/>
      
      Training details:<br/><br/>

      Date and Time: <%= @training.date %><br/>
      Instructor: <%= @training.instructor.name %><br/>
      Rating: <%= @training.rating.name %><br/>
      Departure Airport: <%= @training.departure_airport %><br/>
      Arrival Airport:  <%= @training.destination_airport %><br/>
      Description: <%= @training.description %><br/>

    <p>
      Pilot name: <%= @pilot.name %><br/>
      Desired rating: <%= @pilot.rating.name %><br/>
      VATSIM ID: <%= @pilot.vatsimid %><br/>
      Email: <%= @pilot.email %><br/>
      Division: <%= @pilot.division.name %><br/>
      VACC: <%= @pilot.vacc %><br/>
      ATC rating: <%= @pilot.atc_rating.name %><br/>
    </p>
            
    </p>    
    <p>Good luck and have a great day!</p>
    <p><em><strong>VATEUD Pilot Training Department Team</strong></em></p>
  </body>
</html>