#aboutus
  .container
    .section_header
      %h3 VATEUD PTD Examinations
    .row
      .span12.intro   
        #pilots-listing
          %table.pilots
            %tr
              %th.date Date
              %th.subject Examiner
              %th Origin
              %th Destination
              %th.pilots Pilots
            - @examinations.each do |examination|
              %tr
                %td= examination.date
                %td= examination.examiner.name if examination.examiner
                %td= examination.departure_airport if examination.departure_airport
                %td= examination.destination_airport if examination.destination_airport
                %td= examination.list_pilot_names
        
        = will_paginate @examinations
 